
<h1>   Hola primera pagina </h1>

<div class="well well-lg">

<%= form_with model: @todo, local: true do |f| %>
<%= f.label :description, 'Descripcion' %>
<%= f.text_field :description %>


<%= f.label :completed, 'Completado' %>
<%= f.text_field :completed %>


<%= f.submit "Crear" %>
<% end %>


</div>